@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

@theme {
  --breakpoint-xs: 35rem;
  /* --color-picto-primary: #9929fb; */ /* Main */
  --color-picto-primary: #9929fb;
  --color-soft-white: #f0f1f3;
}

.btn-primary {
  @apply bg-(--color-picto-primary) border-0 text-white hover:bg-[#9929ff] hover:scale-[102%] transition-all duration-500;
}
body {
  font-family: "Work Sans", sans-serif;
}
.content {
  @media screen and (min-width: 1024px) {
    width: 1320px;
    margin-inline: auto;
  }
  @media screen and (max-width: 1320px) {
    width: 100%;
  }
  @media screen and (max-width: 1280px) {
    width: 100vw;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .bg-primary {
  background-color: #a53dff;
} */

.introduction-profile-background {
  background: radial-gradient(
      circle at 15% 100%,
      #ffe2b0f5 1% 5px,
      transparent 15%
    ),
    /* bottom left */
      radial-gradient(circle at 95% -15%, #da4df166 5%, transparent 30%),
    /* top right */
      radial-gradient(circle at center right, #c4f5e9b2 2%, transparent 35%); /* center right */
}
.blog-background {
  background: radial-gradient(circle at -10% 0%, #da4df166 1%, transparent 25%),
    radial-gradient(circle at 110% 30%, #c4f5e9b2 5%, transparent 25%);
}
.section-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #132238;
}

@media (width<640px) {
  .section-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #132238;
  }
}
