@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

/* 
    NOTE: 1px = 0.0625rem; 1rem = 16px
 */

/* 
 536px = 33.5rem
 363px = 22.6875rem
 35rem = 560px
 340px = 21.25rem
 */

* {
  transition-property: all;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function)
  );
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  --tw-duration: 200ms;
  transition-duration: 200ms;
}

@theme {
  /* TODO: make a breakpoint for 320 breakpoint */
  --breakpoint-xxs: 21.25rem;
  --color-picto-primary: #9929fb;
  --color-picto-primary-dark: #650fa0;
  --color-soft-white: #f0f1f3;
  --container-max-width: 1920px !important;
}

.btn-primary {
  @apply bg-(--color-picto-primary) border-0 text-white hover:bg-[#9929ff] hover:scale-[102%] transition-all duration-500;
}
body {
  font-family: "Work Sans", sans-serif;
}
@media screen and (max-width: 1319px) {
  .content {
    width: 100%;
  }
}

@media screen and (min-width: 1320px) {
  .content {
    width: 1320px;
    margin-inline: auto;
  }
}

@media screen and (max-width: 640px) {
  .section-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #132238;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction-profile-background {
  background: radial-gradient(
      circle at 15% 100%,
      #ffe2b0f5 1% 5px,
      transparent 15%
    ),
    /* bottom left */
      radial-gradient(circle at 95% -15%, #da4df166 5%, transparent 30%),
    /* top right */
      radial-gradient(circle at center right, #c4f5e9b2 2%, transparent 35%); /* center right */
}
.blog-background {
  background: radial-gradient(circle at -10% 0%, #da4df166 1%, transparent 25%),
    radial-gradient(circle at 110% 30%, #c4f5e9b2 5%, transparent 25%);
}
.section-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #132238;
}
