.swiper-slide {
  background-color: white;
  /* position: relative; */
}
#testimonialSwiper .swiper-pagination {
  position: relative;
  /* background-color: red; */
  /* top: 20px; */
  margin-top: 50px;
}
.swiper-fade .swiper-button-prev,
.swiper-button-next {
  visibility: hidden;
}
/* .swiper-slide {
  opacity: 99%;
  background-color: red;
} */
